@import '../../scss/utilities';
@import '../../scss/abstracts';

.preview {
	@extend %flex--column;
	justify-content: flex-start;
	gap: 1em;
	&--container {
		@extend %p-1;
	}

	&__item {
		border-radius: $br-nm;
		@extend %p-1;
		@extend %grid--preview;
		line-height: 1;

		&--active {
			background-color: $clr-primaryLight;
		}
		p {
			margin: 0;
		}

		&__image {
			grid-area: image;
			border-radius: $br-round;
			border: 1px solid;
		}

		&__title {
			grid-area: title;
			text-transform: uppercase;
			color: $clr-primary;
		}

		&__category {
			text-transform: uppercase;
		}

		&__publisher {
			font-style: italic;
		}
	}
}
