@import '../abstracts/';

$br-nm: 1em;
$br-round: 50%;

%flex--row {
	display: flex;
	flex-wrap: wrap;
}

%flex--column {
	@extend %flex--row;
	flex-direction: column;
}

%grid {
	display: grid;
	grid-template-columns: minmax(0, 6em) minmax(0, 2fr);
}

%grid--preview {
	@extend %grid;
	grid-template-areas: 'image title' 'image meta' 'image meta';
	align-items: center;
	column-gap: .25em;
}

%grid--recipe {
	@extend %grid;
	grid-template-columns: 1fr 2fr;
	gap: 1em;
	column-gap: 2em;
}

%container {
	@include breakpoint(large) {
		max-width: 90em;
		margin: auto;
	}
}

%p-1 {
	padding: 1em;
}
