@import '../../scss/utilities';
@import '../../scss/abstracts';

.pagination-nav-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	justify-items: center;

	.dots {
		grid-column: 2;

		&__dot {
			color: $clr-lightGrey;

			&--active {
				color: $clr-secondary;
			}
		}
	}

	.btn--pagination {
		justify-self: end;
		color: $clr-primary;
		background: $clr-lightGrey;

		&:hover,
		&:focus {
			color: $clr-lightGrey;
			background: $clr-primary;
		}
	}
}
