@import '../../scss/abstracts';

header {
	background: $clr-primaryLight;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	font-weight: bold;

	.logo {
		color: $clr-primary;
	}

	.nav {
		align-self: stretch;

		&__list {
			display: flex;

			gap: 1em;
			height: 100%;

			.nav__item {
				position: relative;
			}

			.nav__button {
				background: none;
				text-transform: uppercase;
				height: 100%;
			}
		}
	}
}
