@import '../../scss/utilities';
@import '../../scss/abstracts';

.recipe {
	@extend %grid--recipe;
	@extend %container;
	padding-bottom: 1em;

	img {
		grid-column: span 2;
	}
	&__meta {
		display: flex;
		grid-column: span 2;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;

		p {
			margin: 0;
		}

		span {
			font-weight: bold;
		}

		&__title {
			order: 1;
			text-align: right;
			line-height: 1.1;
			color: $clr-primary;
		}
	}

	.pagination-nav-buttons {
		grid-column: 2;
	}
}
