@import './abstracts';
@import './base';
@import './utilities';

body {
	color: $clr-secondary;
	font-family: Calibri, sans-serif;
	font-size: 1.25rem;
	font-weight: 100;
}

h1,
h2,
h3 {
	font-family: 'Caveat Brush', cursive;

	color: $clr-primary;
	font-weight: bold;
}

h1 {
	font-size: 4rem;
	font-size: clamp(2rem, calc(5vw + 1rem), 4rem);
}

h2 {
	font-size: 1.5rem;
	font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem);
}

h3,
h4 {
	font-size: 1rem;
	font-size: clamp(1rem, calc(5vw + 1rem), 1.5rem);
}

::placeholder {
	font: inherit;
	color: $clr-secondary;
}

.btn {
	border-radius: $br-nm;
	padding: .75em 1.25em;

	&--primary {
		background: $clr-primary;
	}

	&--round {
		border-radius: $br-round;
		padding: .55em;
		display: flex;
		align-items: center;
		background-color: $clr-primary;
		color: $clr-lightGrey;
	}

	&:hover,
	&:focus {
		background: $clr-primaryLight;
		transition: all ease-in-out 250ms;
	}
}

.bookmarks {
	position: absolute;
	padding: 1rem 0;
	right: -1.2rem;
	z-index: 10;
	width: 40rem;
	box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s 0.2s;
	background-color: $clr-lightGrey;
	width: 30rem;
	font-weight: initial;
}

.bookmarks:hover,
.bookmarks:focus,
.nav__btn--bookmarks:hover + .bookmarks,
.nav__btn--bookmarks:focus + .bookmarks {
	visibility: visible;
	opacity: 1;
}

.container {
	@extend %container;
}

main {
	display: grid;
	grid-template-columns: (minmax(0, 20em) minmax(0, 2fr));
	gap: 1em;
	position: relative;
	min-height: 100vh;
}

.left-col {
	@extend %flex--column;
	justify-content: space-between;
	background: $clr-lightGrey;
}
